@use "../variables.scss" as *;

.datemenu-box {
  background-color: $bg-color;
  color: $fg-color;
  font-size: 1.1em;
  padding: 1em;
  box-shadow: $border-shadow;
  transition: background-color 0.2s ease-in-out;
  calendar {
    header{
      font-size: 1.2rem;
      padding-bottom: 1rem;
      button {
        margin: 0px 2px;
        padding: 8px;
        color: $fg-color;
        background-color: unset;
        transition: all 0.1s ease-in-out;
        &:hover{
          color: $button-hover-fg-color;
          background-color: $button-hover-bg-color;
        }
      }
    }

    .other-month {
      color: $fg-2-color;
    }

    .day-number { 
      padding: 2px;
      margin: 2px;
      border-radius: 10px;
      transition: background-color 0.1s ease-in-out;
      
      &:hover{
        background-color: $panel-hover-bg-color;
      }
      &:selected {
        border: 2px solid $fg-color;
        color: $fg-color;
        background-color: $bg-color;
      }
      
    }
    .today {
      color: $button-active-fg-color;
      background-color: $button-active-bg-color;
      
      &:selected{
        border: 2px solid transparent;
        color: $button-active-fg-color;
        background-color: $button-active-bg-color;
      }

      &:hover{
        background-color: $button-active-bg-color;
      }
    }
    
  }
}