@use "../variables.scss" as *;
@use "sass:color";
@use "sass:math";

.qs-box {
  min-width: 300px;
  border-radius: $bar-border-radius;

  margin-right: 20px;
  margin-left: 20px;

  padding: $window-padding;

  box-shadow: $border-shadow;
  background-color: $bg-color;

  &__header label{
    color: $fg-color;
    font-size: 1.3em;
  }
  
  &__header button {
    color: $button-fg-color;
    background-color: $button-bg-color;
    border-radius: $button-border-radius;
    padding: $button-padding;
    transition: all 0.1s ease-in-out;
  
    &:hover {
      color: $button-hover-fg-color;
      background-color: $button-hover-bg-color;
    }
  
    &:active {
      color: $button-active-fg-color;
      background-color: $button-active-bg-color;
    }
  }

  &__menu-btn{
    background-color: $button-bg-color;
    color: $fg-color;
    border-radius: $bar-border-radius;
    transition: all 0.1s ease-in-out;

    &:hover{
      background-color: $button-hover-bg-color;
      color: $button-hover-fg-color;
    }

    button {
      background-color: transparent;
      color: $fg-color;
      border-radius: $bar-border-radius;
      transition: all 0.1s ease-in-out;
      
      &:hover{
        background-color: $button-hover-bg-color;
        color: $button-hover-fg-color;
      }
      &:active{
        background-color: $button-active-bg-color;
        color: $button-active-fg-color;
      }

      &:checked {
        background-color: $button-active-bg-color;
        color: $button-active-fg-color;
      }
    }

  }

  &__button{
    background-color: $button-bg-color;
    color: $fg-color;
    border-radius: $bar-border-radius;
    transition: all 0.1s ease-in-out;

    &:hover{
      background-color: $button-hover-bg-color;
      color: $button-hover-fg-color;
    }

    > * {
      padding: 0.5rem;
    }
  
    &--active {
      background-color: $button-active-bg-color;
      color: $button-active-fg-color;
    }
  }
}

.volume-box {
  &__btn-icon {
    padding: 0.5rem;
    border-radius: $bar-border-radius;
    background-color: $button-active-bg-color;
  }
  &__button{
    color: $button-active-fg-color;
  }
}

