@use "../variables.scss" as *;
@use "sass:color";
@use "sass:math";

.wlp-box{
  background-color: $bg-color;
  color: $fg-color;
  box-shadow: $border-shadow;
  padding: 8px;
  min-height: 500px;
  &__header{
    //min-height: 100px;
    padding-bottom: 10px;
  }
  &__button {
    background-color: $button-bg-color;
    color: $fg-color;
    border-radius: $bar-border-radius;
    padding: 8px 20px;
    transition: all 0.1s ease-in-out;

    &:hover{
      background-color: $button-hover-bg-color;
      color: $button-hover-fg-color;
    } 
  }
  &__wallpaper-img{
    border-radius: $bar-border-radius;
  }
}