@use "../variables" as *;

.verification-container {
    color: $fg-color;
    background-color: $bg-color;
    padding: 1em;
    box-shadow: $border-shadow;
    min-width: 300px;

    .title {
        font-size: 1.3em;
    }

    .body {
        font-size: 1.1em;
        margin-bottom: 1em;
    }

    button {
        color: $button-fg-color;
        background-color: $button-bg-color;
        padding: 6px 20px;
        transition: all 0.1s ease-in-out;

        &:hover {
            color: $button-hover-fg-color;
            background-color: $button-hover-bg-color;
        }

        &:active {
            color: $button-active-fg-color;
            background-color: $button-active-bg-color;
        }
    }
}